{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Error al registrar</p>
    {% endif %}

    <div class="container mr-xl-5 " style="width: 55%;">
      <h1 class="text-center "><i><b>Registrarse</b></i></h1>
      <br>
    </div>

    <div class="container-d mr-xl-5 ">
        <br>
        <form method="POST" action="">
            {% csrf_token %}    {%comment%} "{% csrf_token %}" Genera un token único por cada petición, de tal manera que nadie pueda falsificar
                                la solicitud para el sitio web ya que los falsificadores no poseerán este token, y la aplicación dará un error. 
                                Bueno para cualquier plantilla que use formularios POST{% endcomment %}

            <table>
                {{form.as_p}}      {#} "{{form.as_table}}": renderizar formularios de Django como tabla {#}
            </table>

            <div class="boton-login text-center">
                <input class="btn btn-outline-danger text-center" type = "reset" value = "Clear">
                <input class="btn btn-outline-primary text-center" type = "submit" value = "Save">
            </div>
        </form>
        <br>
    </div>
{% endblock %}