{% extends "base.html" %}

{% block title %}Listado de peliculas{% endblock %}

{% block content %}
    <h5>AÑADIR PELÍCULA  &nbsp; <a href="{% url 'pelicula_nueva' %}" class="top-menu"><span class="fa fa-plus-circle fa-1"></span></a></h5>
    <br>
    <ul>
        {% for pelicula in pelicula_list %}
            <li><a href="/peliculas/{{pelicula.pk}}"> {{ pelicula.titulo }} - {{ pelicula.fecha_publicacion|date:"Y" }} - {{ pelicula.director}}</li></a>
        {% empty %}
            <li>Aún no hay Películas.</li>
        {% endfor %}
    </ul>
{% endblock %}