{% extends "base.html" %}

{% block title %}{{ object.titulo}}{% endblock %}

{% block content %}
    <h2>¿Desea eliminar la Película "<b>{{ object.titulo}}</b>"?</h2>
    <br>
    <form method="POST" class="wish-delete">{% csrf_token %}
        <p>
            <input class="btn btn-primary" type="submit" value="Confirmar">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" href="{% url 'detallesPelicula' pk=object.pk %}" >Cancelar</a>
        </p>
    </form>

{% endblock %}

