{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.nombre}}{% endblock %}

{% block content %}
    <div class="post">
        <div class="caja pb-2 pt-2 mb-2 ">
            <h2><i><b>{{ object.nombre}}</b></i></h2>
        </div>

        <div class="jumbotron pt-4 pb-4">
            <div class ="container-b">
                <div class = "row">
                    <div class="col-md-11"> 
                        <p>
                            <a class="btn btn-warning" href="{% url 'director_editar' pk=object.pk %}"><span class="fa fa-pencil"></span></a>&nbsp;
                            <button class="btn btn-danger" onclick="abrir_modal_borrado('{% url 'director_eliminar' pk=object.pk %}')" ><span class="fa fa-close"></span></button>&nbsp; 
                        </p>
                        <div class="media">
                            <img class="media-object" src="{% static 'media/' %}{{object.imagen}} " width="115" height="115">
                        </div>
                        <br>
                        <p><b>Fecha de Nacimiento:    </b>{{ object.fecha_nacimiento|date:"j F, Y"}}</p>
                        {% if object.pais %}
                            <p><b>Pais:   &nbsp;&nbsp;</b>{{object.pais}}</p>
                        {% else %}    
                            <p><b>Pais:   &nbsp;&nbsp;</b>Desconocido</p>
                        {% endif %}
                        <p><b>Biografía:    &nbsp;&nbsp;</b>{{ object.biografia}}</p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

   
<div class = "modal fade" id="borrado" role="dialog"></div> 
   
{% endblock %}


{% block JavaScript%}

    <script type= "text/javascript">
        var $ = jQuery.noConflict()
        function abrir_modal_borrado(url){
            $('#borrado').load(url, function(){
                $(this).modal('show');
            });
        }
    </script>

{% endblock%}